.header{
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    color: white ;
    box-shadow: 0 0 10px rgba($color: black, $alpha: 0.2);
    h2{
        color: white;
    }
    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px 15px;
        transition-duration: 0.2s;
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.05);
        }
    }
    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        img{
            width: 50px;
            margin: 0 10px 0 0 ;
        }
    }
    .header-right{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .settings-icon{
            color: white;
            margin: 0 10px;
            padding: 5px;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            transition-duration: 0.2s;
            cursor: pointer;
            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.05);
            }
        }
    }

}

.ant-modal{
    &.header-settings{
        margin: 0 !important;
        position: fixed;
        right: 10px;
        top: 80px;
        .logout-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0 0 0;
            .logout-icon{
                width: 18px;
                height: 18px;
                margin: 0 5px 0 0;
            }
        }
    }
}

.ant-tooltip{
    z-index: 99999;
}

@media screen and (max-width:520px){
    .header{
        h2{
            display: none;
        }
        .profile{
            span{
                display: none;
            }
        }
    }
}